html, body, #map-canvas {
    height: 90%;
    margin: 0px;
    padding: 0px;
}
a{
    display; inline;
}
body {
	background: #4CA1AF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse; 
    text-align: center;  
}
#container {
	margin: 0px;
	background: #F7F7F7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	font-family: 'Roboto', sans-serif;
    text-align: center;
}
#container h1{
    margin: 0px;
}
#container img {
    max-height: 80px;
    max-width: 100px;
}
.images{
    height: 300px;
    padding-left: 260px;
    padding-right: 260px;
    margin-top: 5px;
    /*background: white;*/
}
caption {
	background: #fff;
    color: black;
    text-align: center;
}
td:nth-child(even){
	background: #fff;
}
#container table a {
    color: black;
    text-decoration: none;
}
.images img { 
    width: 120px;
    height: 120px;
    max-width: 60%; 
    max-height: 95%;
    float: left;
    margin: 2px;
    border: 2px solid black;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#map-canvas img { 
    max-width: none; 
}
.images .magnify .thumbnail {
    padding: 2px;
    border-radius: 25px;
}
.reviews {
    float: left;
    width: 80%;
    height: auto;
}
