/*body {
  background: #808080;*/ /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #808080 , #3fada8);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #808080 , #3fada8);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*}*/
body {
  padding: 0px;
}
#map, #map-canvas{
  border-radius: 25px;
  height: 400px;
  width: 100%;
  margin: 55px auto;
  border: 1px solid transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  margin: 10px auto;
  text-overflow: ellipsis;
  /*width: 400px;*/
  display: inline;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position:relative;
  z-index:2000;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.navbar-right {
  margin-top: 15px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.login {
  color: #fff;
  font-size: 18px;
}

.login:hover {
  color: grey;
  text-decoration: none;
}

#directionsPanel {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse; 
    text-align: center;  
}
#container {
  margin: 0px;
  background: #F7F7F7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
    text-align: center;
}
#container h1{
    margin: 0px;
}
#container img {
    max-height: 80px;
    max-width: 100px;
}
.images{
    height: 300px;
    padding-left: 260px;
    padding-right: 260px;
    margin-top: 5px;
    /*background: white;*/
}
caption {
  background: #fff;
    color: black;
    text-align: center;
}
td:nth-child(even){
  background: #fff;
}
#container table a {
    color: black;
    text-decoration: none;
}
.images img { 
    width: 120px;
    height: 120px;
    max-width: 60%; 
    max-height: 95%;
    float: left;
    margin: 2px;
    border: 2px solid black;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.images .magnify .thumbnail {
    padding: 2px;
    border-radius: 25px;
}
.reviews {
    float: left;
    width: 80%;
    height: auto;
}